<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mk.proyectofinal">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:icon="@drawable/bebida"
        android:label="IntelliBar"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
          <meta-data
               android:name="com.google.android.gms.vision.DEPENDENCIES"
               android:value="barcode" />

           <activity android:name=".Login_QR">

           </activity>
           <activity
               android:screenOrientation="portrait"
               android:name=".MainActivity"

               android:theme="@style/AppTheme.NoActionBar">
               <!--<intent-filter>-->
                   <!--<action android:name="android.intent.action.MAIN" />-->

                   <!--<category android:name="android.intent.category.LAUNCHER" />-->
               <!--</intent-filter>-->
           </activity>
      <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity2"
            android:theme="@style/SplashTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

   </manifest>